{% extends 'layout.html' %}

{% block body %}

<div class="col-md-4 offset-md-4">
	<div class="card card-body">
		<form action="/update/{{contact.0}}" method='POST'>
			<div class="form-group">
				<input type="" name="fullname" placeholder="Nombre Completo" value="{{contact.1}}" class="form-control">
			</div>
			<div class="form-group">
				<input type="" name="phone" placeholder="Télefono" value="{{contact.2}}" class="form-control">
			</div>
			<div class="form-group">
				<input type="" name="email" placeholder="Correo electrónico" value="{{contact.3}}" class="form-control">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">UPDATE</button>
			</div>
		</form>
	</div>
</div>


{% endblock %}